@import "tailwindcss";

/* custom css class */
/* .rabbit-red{
  @apply bg-[#ea2e0e];
} */
/* bg-[#ea2e0e]; */

#root{
  font-family: "Inter",sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
/* body{
  background-color: #333030;

} */